/* General body styling, applied to the entire page */
body {
    font-family: 'Pacifico', cursive;
    background-image: url('../images/bg-game1.avif');
    /* Background image */
    background-size: cover;
    /* Ensure the image covers the whole body */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Do not repeat the background image */
    background-attachment: fixed;
    /* Fix background during scroll */
    margin: 0;
    /* Reset default margin */
    padding: 0;
    /* No padding */
    text-align: center;
}

p {
    font-size: 30px;
    margin: 4px;
    color: #ee82ee;
}









