/* Set the font family for the entire page */
body {
    font-family: 'Pacifico', cursive;
    background-image: url('../images/bg-game.avif'); /* Background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Styling for the main container */
#main-container {
    text-align: center;
    padding: 100px;
}

/* Styling for the main heading */
h1 {
    font-size: 80px;
    color:#ee82ee; /* Text color */
}

/* Styling for link buttons */
.link-button {
    display: inline-block;
    width:140px;
    padding: 20px 20px;
    color: #fff; /* Text color */
    text-decoration: none;
    font-size: 40px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid white; /* Border properties */
}

/* Styling for link buttons on hover */
.link-button:hover {
    color:#ff00ff; /* Text color on hover */
}

/* Styling for icon elements */
.icon {
    color:#ff00ff; /* Icon color */
    margin-right: 10px;
    font-size: 54px;
    vertical-align:text-bottom;
}

/* Media query for small screens */
@media (max-width: 600px) {
    /* Adjusted styling for the main heading on small screens */
    h1 {
        color:#ee82ee;
        padding: 14px;
        font-size: 30px;
        text-align: center;
    }

    /* Adjusted styling for link buttons on small screens */
    .link-button {
        display: block;
        width: 80px;
        padding: 5px 0.5px;
        color: #fff; /* Text color */
        text-decoration: none;
        font-size: 20px;
        margin: 20px auto;
        border: 2px solid white; /* Border properties */
    }

    /* Styling for link buttons on hover on small screens */
    .link-button:hover {
        color:#ff00ff; /* Text color on hover */
    }

    /* Adjusted styling for the main container on small screens */
    #main-container {
        text-align: center;
        padding: 60px;
    }

    /* Adjusted styling for icon elements on small screens */
    .icon {
        color:#ff00ff; /* Icon color */
        padding: 5px;
        margin-right: 7px;
        font-size: 24px;
        vertical-align:text-bottom;
    }
}
